
@font-face {
    font-family: digital;
    src: url("../fonts/digital-7 (mono).ttf");
}

@font-face {
    font-family: workSansThin;
    src: url("../fonts/WorkSans-Thin.ttf");
}

@font-face {
    font-family: workSansLight;
    src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
    font-family: workSans;
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: workSansMedium;
    src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: workSansBold;
    src: url("../fonts/WorkSans-Bold.ttf");
}

body {
    background-color:#000000;
}

pre {
    color:#F0F0F0;
    font-size: 18px;
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    cursor:pointer;
}

::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #505050;
}

input, button, textarea, :focus {
    outline: none;
}

body {
    background-color:#202020;
}

#windowBar {
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:22px;
    z-index: -5;
    background-color: #202020; 
    cursor:pointer;
}

#content {
    position: fixed;
    top:22px;
    left:0px;
}

#background {
    position:fixed;
    display: block;
    margin: 0px;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    cursor:default;
}

.indicator {
    position:absolute;
    background-color:rgba(0,0,0,0);
    width:5vw;
    height:100vh;
    padding:0px;
    display:inline-block;
    margin:0px;
    z-index: -1;
    cursor:default;
}

#rightIndicator {
    left:95vw;
}

#centreBackground {
    position:absolute;
    background-color:#202020;
    width:100vw;
    height:100vh;
    padding:0px;
    display:inline-block;
    margin:0px;
    left:0vw;
    z-index: -3;
    background-size: cover;
    background-position: center;
}

#timer {
    vertical-align: bottom;
    text-align: center;
    font-size: 25vmin;
    font-family: digital;
    color:#E0E0E0;
    margin:0px;
}

#timerSplit {
    vertical-align: bottom;
    text-align: center;
    font-size: 6vmin;
    font-family: digital;
    color:#E0E0E0;
    margin:0px;
    margin-left:25vw;
    width: 50vw;
    margin-top:0vmin;
    
}

#announcement {
    vertical-align:middle;
    text-align: center;
    font-size:6vmin;
    font-family: workSansLight;
    white-space: nowrap;
    color:#E0E0E0;
    margin:0px;
    margin-top:27vmin;
    z-index: 0;
    opacity: 0;
}

#scrambleContainer {
    position: fixed;
    top:32px;
    left:300px;
    width:calc(100vw - 320px);
    height:200px;
    margin: 0px;
    padding: 0px;
}

#scramblePrevious {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    display: block;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='0' cap='square' fill='%23FFF' stroke='%23F0F0F0' points='8,12 16,4 16,20'></polyline></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

#scrambleNext {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    display: block;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='0' cap='square' fill='%23FFF' stroke='%23F0F0F0' points='16,12 8,4 8,20'></polyline></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

#scramble {
    -webkit-user-select: text;
    user-select: text;
    vertical-align: top;
    text-align: right;
    position: absolute;
    left: 30px;
    top: 0px;
    font-size:40px;
    line-height:40px;
    width:calc(100% - 60px);
    height:100%;
    color:#C0C0C0;
    font-family: workSansLight;
    overflow-y: scroll;
    word-wrap:normal;
    margin: 0px;
    display: block;
}

#scramble:hover {
    cursor: pointer;
    background-color:rgba(208,208,208,0.2);
}

#stats {
    display: block;
    position: absolute;
    width: 284px;
    left:10px;
    top:10px;
    background-color: rgba(0,0,0,0);
    cursor:default;
}

button {
    display: inline-block;
    height: 30px;
    font-family: workSans;
    font-size: 18px;
    color:#F0F0F0;
    background-color: #303030;
    border-color: #606060;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    border-color: #404040;
    transition: 0.1s;
}

button:focus {
    outline:0;
}

select:focus {
    outline:0;
}

input:focus {
    outline:0;
}


button:active {
    cursor: pointer;
    background-color: #202020;
    border-color: #404040;
    color:#A0A0A0;
    transition: 0.1s;
}

.cross {
    display: block;
    width:30px;
    height:30px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='6,6 18,18'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='18,6 6,18'></polyline></svg>"); 
    background-color: #303030;
}

#sessionButton, #eventButton {
    width:30px;
    margin-left: 10px;
    margin-top: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='4,12 6,12'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='4,6 6,6'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='4,18 6,18'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='8,12 20,12'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='8,6 20,6'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='8,18 20,18'></polyline></svg>");
    
    background-size: contain;
    padding: 0px;
    position: absolute;
    top:40px;
    left:240px;
}

#eventButton {
    top:0px;
    left:240px;
}

#preferencesButton,#previewButton {
    width:30px;
    height:30px;
    position: fixed;
    right:324px;
    bottom:10px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><circle cx='12' cy='12' r='5' stroke='%23F0F0F0' stroke-width='3' fill='none'></circle><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='12,3 12,6'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='12,21 12,18'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='3,12 6,12'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='21,12 18,12'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='18.2,5.8 16,8'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='5.8,18.2 8,16'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='5.8,5.8 8,8'></polyline><polyline stroke-width='3.5' cap='square' fill='none' stroke='%23F0F0F0' points='18.2,18.2 16,16'></polyline></svg>"); 
    padding: 0px;
}

#previewButton {
    right: 364px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='0' cap='square' fill='%23FFF' stroke='%23FFF' points='4,7 4,17 16,17 16,14 20,16 20,8 16,10 16,7'></polyline></svg>");
}


#sessionButtons {
    display: block;
    margin-top:20px;
    height:0px;
    overflow-y:hidden;
    cursor:default;
}

#newSessionButton {
    width:133px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#transferSessionButton {
    width:133px;
    margin-bottom: 10px;
}

#clearSessionButton {
    width:133px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#deleteSessionButton {
    width:133px;
    margin-bottom: 10px;
}

#sessionContainer {
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.disabled {
    cursor:default;
    opacity:0.4;
    transition:0.2s;
}
 
button.disabled:hover {
    cursor: default;
    border-color: #606060;
    transition: 0.1s;
}

button.disabled:active {
    cursor: default;
    background-color: #303030;
    border-color: #606060;
    color:#F0F0F0;
    transition: 0.1s;
}

select {
    -webkit-appearance: none;
    width: 280px;
    height: 30px;
    border-color:#606060;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    font-family: workSans;
    font-size: 18px;
    color:#F0F0F0;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 24 24'><path fill='%23F0F0F0' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>"); 
    
    background-color: #303030;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 8px;
    cursor: pointer;
    transition: 0.1s;
}

select:hover {
    cursor: pointer;
    border-color: #404040;
    transition: 0.1s;
}

select.disabled:hover {
    cursor: default;
    background-color: #303030;
    border-color: #606060;
    color:#F0F0F0;
    transition: 0.1s;
}

#sessionSelect {
    width:240px;
    position: absolute;
    top:40px;
    left:0px;
}

#eventSelect {
    width:240px;
}

input[type="text"],textarea {
    width: 227px;
    height: 24px;
    border-color:#606060;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    font-family: workSans;
    font-size: 18px;
    color:#F0F0F0;
    background-color: #303030;
    resize: none;
}

#sessionSelectText {
    padding-left: 8px;
    position: absolute;
    top:40px;
    left:0px;
}

#addTimeInput {
    width:100px;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 0px;
}

#addScrambleInput {
    width:273px;
    height:90px;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 0px;
}

#customScramble {
    width:374px;
    height:90px;
    margin-bottom:0px;
    margin-top:12px;
    margin-left: 0px;
}

#sessionSolvesTable {
    width:280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    transition:0.1s;
}

#sessionDetails {
    width:280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    border-bottom: 0;
    transition:0.1s;
} 

#sessionStats {
    width:280px;
    border-collapse: collapse;
    border: 2px solid #606060;
    border-top:0;
    transition:0.1s;
}

#sessionRecordsContainer {
    margin-top: 10px;
    width:278px;
    border: 1px solid #606060;
    max-height:calc(100vh - 380px);
    display: block;
    overflow: auto;
    transition:0.1s;
}

#sessionRecords {
    width:270px;
    border-collapse: collapse;
    overflow:auto;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
}

#sessionRecordsHeader {
    display: block;
    width:270px;
	overflow: auto;
    position: fixed;
    border-collapse: collapse;
    border-bottom: 1px solid #606060;
}

td {
    height:30px;
    border: 1px solid #606060;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: workSans;
    color:#D0D0D0;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    background-color: #303030;
}

td p {
    background: clear;
    margin-top: 7.5px;
    margin-bottom:7.5px;
    margin-left: 0px;
    margin-right:0px;
}

table tr:first-child td {
    font-family: workSansBold;
    color:#F0F0F0;
}

table td:first-child {
    font-family: workSansBold;
    color:#F0F0F0;
}

#sessionDetails td:first-child {
    width:140px;
    font-family: workSans;
}

#sessionDetails td:nth-child(2) {
    width:140px;
    font-family: workSans;
}

#sessionDetails td:first-child b {
    font-family: workSansBold;
}

#sessionDetails td:nth-child(2) b {
    font-family: workSansBold;
}

#sessionStats td:first-child {
    width:70px;
}
#sessionStats td:nth-child(2) {
    width:105px;
}

#sessionStats td:nth-child(3) {
    width:105px;
}

#sessionRecordsHeader td:nth-child(1), #sessionRecords td:first-child {
    width:28px;
    margin-left: 0px;
    margin-right:0px;
}

#sessionRecordsHeader td:nth-child(2), #sessionRecords td:nth-child(2), #sessionRecords td:nth-child(2) p {
    width:82px;
    cursor:pointer;
}

#sessionRecords td:nth-child(2):hover {
    background: #202020;
}    

#sessionRecordsHeader td:nth-child(3), #sessionRecords td:nth-child(3) {
    width:82px;
}

#sessionRecordsHeader td:nth-child(4), #sessionRecords td:nth-child(4) {
    width:82px;
}

td p {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}

#sessionRecords tr:first-child td {
    background: #303030;
    cursor: text;
}

#sessionRecords tr:first-child td p {
    cursor: text;
}

#sessionRecords tr:first-child td:hover {
    background: #303030;
}

.selectable:hover, .selectable p:hover {
    background: #202020;
    cursor: pointer;
}

#addTimeButton {
    width:100%;
    border-width: 0px;
}

#dialogRecord {
    background: #303030;
    border-color:#606060;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    font-family: workSans;
    font-size: 18px;
    display: block;
    color:#F0F0F0;
    height:29px;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.4);
    cursor:default;
}

#dialogManageEvents, #dialogShowInfo,#dialogScramble, #dialogPreferences, #dialogPreview, #dialogCSTimer, #dialogAddTime, #dialogBlindResult, #dialogTransferSession, #dialogUpdate {
    background: #303030;
    border-color:#606060;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    font-family: workSans;
    font-size: 18px;
    display: block;
    color:#F0F0F0;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.4);
    cursor:default;
}

#dialogScramble {
    padding:10px;
    padding-top:0px;  
}

#dialogCSTimer,#dialogAddTime, #dialogTransferSession {
    padding-left: 10px;
    padding-right: 10px;
}

#messageShowInfo {
    margin:0px;
    -webkit-user-select:text;
    margin-top:30px;
    width:616px;
    padding:10px;
    max-height: 365px;
    overflow-y:scroll;
    user-select:text;
    cursor:text;
    border-top-width:2px;
    border-top-style: solid;
    border-top-color: #505050;
}

#dialogPreferences select {
    width:100px;
}

#dialogPreferences p {
    margin-top:8px;
    margin-bottom:7px;
    margin-left:15px;
}

#dialogUpdate {
    padding-left:10px;
}

#dialogRecord button {
    margin-right: 0px;
    margin-left: 0px;
    border-width: 1px;
    border-bottom-width: 2px;
    display: block;
    float:left;
}

#closePreferences ,#closePreview,#closeShowInfo, #closeUpdate {
    display: block;
    margin-top:10px;
    margin-right: 10px;
    float: right;
    height:30px;
    width:30px;
}

#savePreferences {
    margin-left: 10px;
    margin-top: 0px;
}

#savePreview {
    margin-top:12px;
    margin-left: 10px;
}

#previewVideo {
    width:480px;
    height:360px;
    display: block;
    margin-left: 0px;
    margin-top:30px;
    border-bottom: solid 2px;
    border-top: solid 2px;
}


#dialogRecord input {
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
    color:#F0F0F0;
}


.ui-dialog:focus {
    outline:0;
}

#recordDate, #recordTime {
    -webkit-user-select: text;
    user-select: text;
    display: block;
    font-size: 18px;
    margin: 0px;
    position: absolute;
    color:#FFFFFF;
    width: 263px;
    top:35px;
    left:5px;
    cursor:text;
}

#recordTime {
    top:55px;
}

#recordScramble {
    -webkit-user-select: text;
    user-select: text;
    position: absolute;
    display: block;
    font-size: 18px;
    border-top: solid 2px #606060;
    top:10px;
    left:0px;
    padding-left:5px;
    position: absolute;
    color:#FFFFFF;
    overflow-y: scroll;
    word-wrap:normal;
    width: 264px;
    height: 80px;
    cursor:text;
}

#recordComment {
    -webkit-user-select: text;
    user-select: text;
    position: absolute;
    display: block;
    font-size: 18px;
    border-top: solid 2px #606060;
    top:160px;
    left:0px;
    padding-left:5px;
    position: absolute;
    color:#FFFFFF;
    overflow-y: scroll;
    word-wrap:normal;
    width: 260px;
    height: 60px;
    cursor:text;
    vertical-align: top;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display:inline-block;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
    width:25px;
    height:25px;
    background-color: #303030;
    border-color:#606060;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    cursor:pointer;
}

input[type="checkbox"].disabled {
    cursor:default;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='4,11 10,17 20,7'></polyline></svg>");
    background-position: 45% 50%;
}

input[type="checkbox"]:hover {
    border-color:#404040;
}

input[type="checkbox"]:active {
    border-color:#404040;
    background-color: #202020;
}

#versionBannerContainer {
    transition: top 0.6s;
    display: block;
    position: fixed;
    top:-110px;
    left:0px;
    width:100vw;
    z-index: 5;
}

#versionBanner {
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    background-color: #4444FF;
    transition: 0.1s;
}

#versionBanner:hover {
    background-color: #3B3BBB;
    cursor: pointer;
}

#versionMessage {
    font-size: 25px;
    font-family: workSans;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    cursor: pointer;
}

#closeVersion {
    display: block;
    position: absolute;
    top:10px;
    right:10px;
    border-color: #3333BB;
    background-color: #4444FF;
}

#closeVersion:hover {
    border-color: #222288;
    background-color: #4444FF;
}

#closeVersion:active {
    border-color: #222288;
    background-color: #3333BB;
}

.tab {
    display: inline-block;
    margin-top:0px;
    margin-bottom: -2px;
}

.tab button {
    border-bottom: 0px;
}

.ui-tabs-active button {
    border-bottom: solid 2px #282828;
}

:not(.ui-tabs-active).tab button {
    border-bottom: solid 2px #505050;
    margin-bottom: -2px;
}

#tabs-1,#tabs-2,#tabs-3,#tabs-4 {
    border-bottom: solid 2px #505050;
    border-top: solid 2px #505050;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    max-height: 320px;
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding-left: 10px;
    margin-top:20px;
    margin-bottom: 0px;
}

 ul li { display: inline; }


#toolSelect {
    width:264px;
    position:fixed;
    bottom:10px;
    right:50px;
}

#tools {
    width:304zpx;
    position:fixed;
    bottom: 50px;
    right:10px;
    display: block;
}

.tool {
    width:300px;
    height: 200px;
    position:relative;
    margin-bottom:0px;
    margin-right: 0px;
    margin-top:10px;
    margin-left:0px;
    border-color:#505050;
    border-width:2px;
    border-radius: 0px;
    border-style: solid;
    display: block;
    background-color: #282828;
    cursor:default;
}

.closeTool {
    display: block;
    position: absolute;
    top:10px;
    right:10px;
    height:30px;
    width:30px;
    opacity:0.4;
    z-index:1;
    transition:0.1s;
}

.closeTool:hover {
    opacity:1;
    transition:0.1s;
}

#addToolButton {
    width:30px;
    height:30px;
    position: fixed;
    right:10px;
    bottom:10px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='12,6 12,18'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='6,12 18,12'></polyline></svg>"); 
    background-color: #303030;
    padding: 0px;
}

#previewButton.loading {
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='24' height='24' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='2,12 8,12'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='22,12 16,12'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='12,2 12,8'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='12,22 12,16'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='5,5 9,9'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='19,19 15,15'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='5,19 9,15'></polyline><polyline stroke-width='2' cap='square' fill='none' stroke='%23FFF' points='19,5 15,9'></polyline></svg>");
    background-position: 45% 50%;
    background-color: #282828;
}

#confetti {
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    cursor:default;
    z-index: -2;
}

#metronomeStartStopButton {
    margin-top:50px;
    margin-left:30px;
    width:100px;
    height:50px;
}

#metronomeBPMLabel {
    position: absolute;
    top:50px;
    right:50px;
    font-size:40px;
    line-height:40px;
    margin-top:5px;
    color:#F0F0F0;
    font-family: workSansLight;
}

#metronomeBPMSlider {
    width:260px;
    margin-top:40px;
    margin-left:20px;
    -webkit-appearance: none; 
    appearance: none;
    height: 8px; 
    background: #606060;
    outline: none;
    cursor: pointer;
}

#metronomeBPMSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px; 
    height: 23px; 
    border-radius: 50%; 
    background: #F0F0F0;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.4);
}

#dialogManageEvents {
    padding-top: 10px;
}

#dialogBlindResult {
    padding-left:10px;
}

#eventsList {
    width:calc(100%);
    height:374px;
    list-style-type: none; 
    margin: 0; 
    margin-top:10px;
    padding: 0;
    border-bottom: solid 1px #606060;
    border-top: solid 1px #606060;
    overflow-y:scroll;
}

.eventItem {
    display: block;
    padding-top:0px;
    width:calc(100% - 2px);
    height: 30px;
    border: solid 1px #606060;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='%23F0F0F0' points='7,10 12,5 17,10'></polyline><polyline stroke-width='2' cap='square' fill='%23F0F0F0' points='7,14 12,19 17,14'></polyline></svg>"); 
    
    background-color: #303030;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    cursor:move;
}

.delete {
    width:30px;
    height:30px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26' height='26' viewBox='0 0 24 24'><polyline stroke-width='2' cap='square' fill='none' stroke='%23F0F0F0' points='6,12 18,12'></polyline></svg>"); 
    background-color: #303030;
}

#startupCover {
    z-index: 100;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: #181818;
}

#startupImage {
    position: absolute;
    top: calc(50vh - 120px);
    left: calc(50vw - 120px);
    width: 240px;
    height: 240px;
}