#windowBar {
    -webkit-app-region: none;
    position: fixed;
    top:-30px;
    left:0px;
    width:100vw;
    height:22px;
    z-index: 2;
}

#content {
    position: fixed;
    top:0px;
    left:0px;
}

#scramble {
    position: fixed;
    top:10px;
    right: 10px;
}

#stats {
    position: absolute;
    left:10px;
    top:10px;
}
